@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<my-admin number="7"></my-admin>
<br />
<auto-price model-name="camero" make="chevy"></auto-price>
<br />
@foreach (var item in Model.Persons)
{
<my-customer person="@item"></my-customer>
}
<hr />
<form method="POST" id="mahdi">
    @*@Html.AntiForgeryToken()*@
    <input asp-for="@Model.Person.Name" placeholder="name"/>
    <input asp-for="@Model.Person.Family" placeholder="family" />
    <br />
    <button type="submit">send</button>
</form>

<script>
    //console.log($("#mahdi").serialize())
</script>
